header{
				position: fixed;
				z-index: 999999;
				width: 100%;
				height:;
			}
			#nav-logo{
				height:50px;
				width:50px;
				float: left;
				margin-left: 10px;
				margin-top: 10px;

			}
			ul{
				text-decoration: none;
				list-style-type: none;
			}
			.big-nav{
				float:right;
				color: #F1F0F0;
				font-family: "Montserrat";
				font-size: 12pt;
				margin-right : 50px;
				cursor: pointer;
			}
			.big-nav:hover{
				color: #fff;
				transition: 0.1s;
			}
			#nav-img{
				height:40px;
				width:40px;
			}
			#nav{
				display: none;
			}
			#full-nav{
				position: fixed;
				top:0;
				left:0;
				height:100%;
				width:100%;
				background-color: #222233;
				color: #DADADA;
				font-family: "Montserrat";
				display: none;

			}
			#full-nav-ul{
				text-decoration: none;
				list-style-type: none;
			}
			#home-nav-full{
				font-size: 12pt;
				text-align: center;
				margin-top: 300px;
			}
			.full-nav{
				font-size: 12pt;
				margin-top:50px;
				position: relative;
				left:-4%;
			}
			@media only screen and (max-width:750px){
				.big-nav{
					display: none;
				}
				#nav{
					display: block;
				}


			}
